<% include header %>
<h1>
    Express Guestbook
    <a href="/new-entry" class="btn btn-primary pull-right">
    Write in the guestbook
    </a>
  </h1>
<h2><span style="font-size: 25px" class="glyphicon glyphicon-remove"></span>404! Page not found.<span style="font-size: 25px" class="glyphicon glyphicon-remove"></span></h2>
<% include footer %>
