<div class="container-fluid text-center"><a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-triangle-top logo-small"></span>
</a></div>
<footer class="container-fluid text-center" id="orangebar">    
<p> Copyright 1999-2017 by Vishal Chilka<br>References <a href="www.w3schools.com">@www.w3schools.com</a></p>
<p>
    <a href="https://www.facebook.com/vishal.chilka.7"><img src="facebook.png" alt="Vishal's facebook" width="42" height="42" border="0"></a>
    <a href="https://www.linkedin.com/in/vishalc10"><img src="Linkedin.png" alt="Vishal's Linkedin" width="42" height="42" border="0"></a>
    <a href="https://github.com/vishalc10"><img src="git.png" alt="Vishal's gitRepo" width="42" height="42" border="0"></a>
    <a href="https://bitbucket.org/vchilka"><img src="bitbucket.png" alt="Vishal's bitbucket" width="42" height="42" border="0"></a>        
</p>
</footer>

</body>
</html>